<!DOCTYPE html>
{%- spaceless -%}
{% set currentRoute = app.request.attributes.get('_route') %}
{% set routeSplit = currentRoute|split('_') %}
{% set currentController = routeSplit|first %}
{% set currentAction = routeSplit|last %}
{%- endspaceless -%}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {%- if block('title') -%}
        <title>{{ block('title') }}</title>
        {%- endif -%}

        {%- if block('description') -%}
        <meta name="description" content="{{ block('description') }}" />
        {%- endif -%}

        {%- if block('author') -%}
        <meta name="description" content="{{ block('author') }}" />
        {%- endif -%}

        <link href="{{ asset('bundles/businessdirectory/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/businessdirectory/custom.css') }}" rel="stylesheet" />
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ path('home_index') }}">FuBohr Business Directory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav">
                {% include 'BusinessDirectoryBundle::Layout/_menu.html.twig' %}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="separator"></div>

        {% if app.session.flashbag.keys %}
        <div class="container">
            {% for message in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="container">

            {%- if block('title') -%}<h1>{{ block('title') }}</h1>{% endif %}
            {{ block('content') }}

        </div>

        <script src="{{ asset('bundles/businessdirectory/vendor/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/businessdirectory/vendor/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/businessdirectory/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
